<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Someone has successfully signed up at CodeAccounting.com:
    </p>
      Name: <%= @contact.full_name %>
      <br>
      Email: <%= @contact.email%>
      <br>
      Phone: <%= @contact.phone %>
      <br>

    <p>Please contact them within 12 hours</p>
  </body>
</html>
